<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/ece96d80-c934-4839-bb90-c2f9ff7c94f9/resourceGroups/rg-genie-dev-eastus-002/providers/Microsoft.ContainerRegistry/registries/crgeniedev002</ResourceId>
    <ResourceName>crgeniedev002</ResourceName>
    <ResourceGroup>rg-genie-dev-eastus-002</ResourceGroup>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <RegistryUrl>https://crgeniedev002.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8ea057cb-dae2-44fc-b3a5-f172bf0b1043</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>